[Unit]
Description=Timelapse picture upload before shutdown
DefaultDependencies=no
Before=network.target local-fs.target umount.target shutdown.target reboot.target halt.target
Conflicts=shutdown.target
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/timelapse/timelapse-sync.sh
WorkingDirectory=/opt/timelapse/
StandardOutput=journal
StandardError=journal
SyslogIdentifier=timelapse-sync
User=root
Group=root
Nice=1
Type=oneshot

[Install]
WantedBy=final.target
