[Unit]
Description=Timelapse picture upload before shutdown
DefaultDependencies=no
Before=shutdown.target umount.target network-pre.target NetworkManager.service
After=local-fs.target network-online.target

[Service]
ExecStart=/opt/timelapse/timelapse-sync.sh
WorkingDirectory=/opt/timelapse/
StandardOutput=journal
StandardError=journal
SyslogIdentifier=timelapse-sync
User=root
Group=root
Nice=1
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=halt.target poweroff.target reboot.target
